

.opacityImg {
  background: url(../images/main_bg.jpg) no-repeat center center;
  background-size: cover;
  width: 98vw;
  height: 50vh;
  margin-top: 20px;
}

.homeHeading {
  position: absolute;
  top: 20%;
  left: 10%;
  /* white-space: nowrap; */
}