.ProjectPartWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.wrapper {
  height: 50%;
}
h2{
  margin: 20px;
}

.img {
  width: 90%;
  height: 100%;
  border-radius: 25px;
  cursor: pointer;
}
