.aboutWrap{
    display: flex;
    flex-direction: row;
}
.imgWrap{
    width: 25%;
}
.proimg{
    position: relative;
    top: 18%;
    border-radius: 25px;
}
.paraWrap{
    width: 75%;
    text-align-last: left;
}