.navi {
  position: fixed;
  font-size: 1.2rem;
  height: 50px;
  width: 97vw;
  /* margin-top: 25px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #41496d37;
}
.navi > div{
  margin-right: 10px;
  cursor: pointer;
}
.left {
  position: absolute;
  left: 20px;
}
.right {
  position: absolute;
  right: 0;
}
